<!-- Header -->
<app-header></app-header>

<!-- Center Container -->
<div class="row center-container">

  <!-- sidebar -->
  <div *ngIf="IsAuthenticated" class="d-none d-xl-block col-3">

    <app-sidebar></app-sidebar>

  </div>


  <!-- Body -->
  <div class="col">

    <app-body>

      <ng-container *ngIf="IsAuthenticated; else signupTemplate">

        <router-outlet></router-outlet>

      </ng-container>

      <ng-template #signupTemplate>

        <app-signup></app-signup>

      </ng-template>

    </app-body>

  </div>


</div>

<!-- footer -->
<div class="fixed-bottom">

  <app-footer></app-footer>

</div>

<button *ngIf="false" (click)="SwitchAutheticate()">{{ IsAuthenticated ? "UnAuthenticate " : "Authenticate" }}</button>
